@font-face {
	font-family: "Atipla";
	src: url("/font/AtiplaND-Book.woff2") format("woff2"), url("/font/AtiplaND-Book.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Atipla";
	src: url("/font/AtiplaND-Medium.woff2") format("woff2"), url("/font/AtiplaND-Medium.woff.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	font-family: "Atipla", sans-serif;
}

body {
	padding: 64px 40px;
	color: #272727;
	font-size: 14px;
	font-weight: 400;
	@media screen and (min-width: 568px) {
		padding: 64px;
	}
}
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}
p {
	font-size: 14px;
	line-height: 21px;
}
a {
	color: #272727;
	text-decoration: underline;
	text-decoration-color: #a0a0a0;
}
a:hover {
	color: #525ceb;
}

::selection {
	color: #525ceb;
	background: #eef5ff;
}
