/* Font face variable */
@font-face {
	font-family: "GeistSans";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("fonts/GeistVF.woff2") format("woff2"), url("/GeistVF.woff") format("woff");
}

@font-face {
	font-family: "Suisse";
	src: url("fonts/SuisseIntl-Book.woff2") format("woff2"), url("/SuisseIntl-Book.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Suisse";
	src: url("fonts/SuisseIntl-SemiBold.woff2") format("woff2"), url("/SuisseIntl-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

* {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	font-family: "Suisse", "GeistSans", system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

strong,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: underline;
	color: #000;
}

::selection {
	color: #ffffff;
	background: #2c68f6;
}

h5 {
	margin-bottom: 1rem;
	margin-top: 0;
	font-weight: 600;
	letter-spacing: normal;
	line-height: 1.5;
}

p {
	margin-top: 0;
	line-height: 140%;
	margin-bottom: 1.5rem;
}
p:last-child {
	margin-bottom: 0;
}
p:last-child {
	margin-bottom: 0;
}

pre {
	box-sizing: border-box;
	width: 100%;
	padding: 0;
	margin: 0;
	tab-size: 2;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: #efefef;
	border: 1px solid #777;
	background: url(lines.png) repeat 0 0;
	padding: 10px;
	color: #333;
}
