* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	font-family: "Inter", sans-serif;
}

body {
	color: #141414;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.65;
	font-family: Inter, sans-serif;
	font-feature-settings: "liga" 1, "calt" 1;
}

strong,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

a {
	color: #141414;
	text-decoration: underline;
	text-underline-position: from-font;
	text-decoration-thickness: 1px;
	text-decoration-color: #bcbbb5;
}
p {
	margin-bottom: 1rem;
}
a:hover {
	text-decoration-color: #8d8d86;
}
::selection {
	color: #ffffff;
	background: #2c68f6;
}

h5 {
	margin-bottom: 1rem;
	color: #141414;
	margin-top: 0;
	font-weight: 600;
	letter-spacing: normal;
	font-size: 1rem;
	line-height: 1.5;
}